.signup-left {
  position: relative;
  background: radial-gradient(
    circle at bottom left,
    rgba(31, 169, 17, 0.810119) 17.21%,
    #2f15d0 64.58%,
    transparent 100%
  );
  background: radial-gradient(
    100% 100% at 16% 104%,
    rgba(31, 169, 17, 0.810119) 17.21%,
    #2f15d0 64.58%,
    rgba(0, 0, 0, 0) 100%
  );
}

.signup-left::before {
  content: "";
  position: absolute;
  inset: 0;
  background: black;
  z-index: -1;
  opacity: 0.88;
}

.signup-right {
  box-shadow: 0px 14px 64px -4px #18274b1f;
}

.first-section-heading {
  text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
}

/* Mobile responsive adjustments */
@media (max-width: 590px) {
  .signup-left {
    background: radial-gradient(
      100% 100% at 16% 104%,
      rgba(31, 169, 17, 0.810119) 17.21%,
      #2f15d0 64.58%,
      rgba(0, 0, 0, 0) 100%
    );
  }

  .signup-right {
    box-shadow: none;
  }

  .scroll-gradient::before {
    display: none;
  }
}

.scroll-gradient::before {
  content: "";
  position: absolute;
  left: 72px;
  top: 40px;
  bottom: 0;
  width: 32px; /* 8 * 4px (w-8 equivalent) */
  background: linear-gradient(to right, rgba(0, 0, 0, 0.3), transparent);
  z-index: 10;
  pointer-events: none;
  opacity: 1;
  transition: opacity 0.3s ease;
  border-radius: 12px;
}
